* {
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.canvas-parent {
    width: 100vw;
    height: 100vh;
    touch-action: none;
}

p {
    position: fixed;
    top: 0;
    right: 0;
    width: 300px;
    padding: 1rem 2rem;
    font-family: 'Courier New', Courier, monospace;
    line-height: 1.2;
    background-color: white;
    color: black;
}

#button {
    position: fixed;
    bottom: 16px;
    right: 16px;
    padding: 12px;
    border-radius: 50%;
    margin-bottom: 0px;
    background-color: #FFF;
    opacity: .9;
    z-index: 999;
    box-shadow: 0 0 4px rgb(0 0 0 / 15%);
}

#music-pannel {
    position: absolute;
    bottom: 12px;
    left: 10%;
    width: 80%;
    display: none;
    align-items: center;
}

#waveform {
    width: 100%;
}

#change-music {
    position: absolute;
    left: 45%;
    z-index: 99;
    background-color: #191f22b0;
    padding: 12px;
    margin: 0;
}

#mouse-test {
    position: fixed;
    width: 24px;
    height: 24px;
    z-index: 999;
    background-color: red;
}

#loading {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: black;
    left: 0;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}